---
import Default from "@astrojs/starlight/components/Footer.astro";
const currentYear = new Date().getFullYear();
---

<Default><slot /></Default>
<div>
    <p class="footer-item">
        GNU GPL-3.0 License and CC BY-NC-SA 4.0 License &copy; {currentYear} MilkTeaMC Team and Contributors. Built with
        <a href="https://starlight.astro.build/" target="_blank">Starlight</a>.
        <br>
            This website is not an official Minecraft website and is not associated with Mojang Studios or Microsoft. 
    </p>
</div>
