name: ci 
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache 
          restore-keys: |
            mkdocs-material-
      - run: uv pip install mkdocs-material --system
      - run: uv pip install mkdocs-minify-plugin --system
      - run: uv pip install "mkdocs-material[imaging]" --system
      - run: uv pip install mkdocs-git-revision-date-localized-plugin --system
      - run: uv pip install mkdocs-git-authors-plugin --system
      - run: uv pip install mkdocs-publisher
      - run: mkdocs gh-deploy --force
